extends ../layout

block content

    h1 Case

    - var friends = 10
    case friends
        when 0
            p you have no friends
        when 1
            p you have a friend
        default
            p you have #{friends} friends

    h2 Case Fall Through

    - var friends = 0
    case friends
        when 0
        when 1
            p you have very few friends
        default
            p you have #{friends} friends

    p If you would like to not output anything in a specific case, add an explicit unbuffered break

    - var friends = 0
    case friends
        when 0
            - break
        when 1
            p you have very few friends
        default
            p you have #{friends} friends

    h2 Block Expansion

    - var friends = 1
    case friends
        when 0: p you have no friends
        when 1: p you have a friend
        default: p you have #{friends} friends