extends ../layout

block content
    h1 Tags

    ul
        li Item A
        li Item B
        li Item C

    img

    h2 Block Expansion

    a: img

    h2 Self-Closing Tags

    foo/
    foo(bar='baz')/

