extends layout

block content
  h1= title
  p Welcome to #{title}
  p.subtitle Content:

  a(href="/attributes") - Attributes
  a(href="/case") - Case
  a(href="/code") - Code
  a(href="/comments") - Comments
  a(href="/conditionals") - Conditionals
  a(href="/includes") - Includes
  a(href="/inheritance") - Inheritance
  a(href="/interpolation") - Interpolation
  a(href="/iteration") - Iteration
  a(href="/mixins") - Mixins
  a(href="/plaintext") - Plain Text
  a(href="/tags") - Tags

